/* store.css */

.item-ignore {
    text-decoration: line-through;
    font-weight: lighter;
}

#header {
    border-radius: 0;
}

#ingredients li {
    font-size: 1.35em;
}

/* bootstrap "extension" to get vertical centering
 * for the "login" form */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0;
  display: table;
}
.row-fluid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
