/* style-bs.css - for bootstrap version */

h2 {
    text-align: center;
}

footer {
    padding-top: 1em;
    /*background-color: #efefef;*/
}

.list-group-item:hover {
    background-color: #efefef;
}
.list-group-item.ui-draggable-dragging {
    width: 90%;
    background-color: #efefef;
}

#userlist {
    min-height: 10em;
}

.item-ignore {
    text-decoration: line-through;
    font-weight: bold;
}

#print {
    font-size: 1.2em;
    padding-bottom: 1rem;
}
#print dd {
    margin-left: 3em;
}
#print table {
    width: 100%;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

