{{ define "headTitle" }}
Om Veckans matlista
{{ end }}

{{ define "main" }}
  <main class="row">
    <div class="col-3"></div>
    <section class="col-lg-6">
      <h2>Vad är det här?</h2>
      <p>
      Veckans matlista är ett gratisverktyg där du kan komponera ihop din egen matlista med valfritt antal måltider och få en sammanställd inköpslista över samtliga ingredienser.
      </p>
      <p>
        Recepten tillhandahålls av dig själv, eller andra på sajten, och kan importeras och exporteras fritt i ett enkelt textfilsformat.
      </p>
      <p>
        Källkoden till hela plattformen publiceras öppet på <a href="https://github.com/prodhe/matlistan/">Github</a> och jag som skänker tjänsten (eftersom jag vill ha den själv) heter Petter Rodhelind.
      </p>
    </section>
    <div class="col-3"></div>
  </main>
{{ end }}
