{{ define "headTitle" }}
Hjälp
{{ end }}

{{ define "main" }}
<main class="row">
	<div class="col-3"></div>
	<section class="col-lg-6">
		<h2>Hjälp</h2>
		<div>
			<p>
				Veckans matlista är ett gratisverktyg där ni kan komponera ihop er egen matlista med valfritt antal måltider och få en sammanställd inköpslista över samtliga ingredienser.
			</p>
			<p>
				<img class="img-fluid img-thumbnail" src="{{ .StaticDir }}/matlistan_demo.png" />
			</p>
			<p>
				Recepten tillhandahålls av er själva och kan importeras från ett enkelt textfilsformat.
			</p>
			<p>
				Källkoden till hela plattformen publiceras öppet på <a href="https://github.com/prodhe/matlistan/">Github</a> och utvecklas av Petter Rodhelind.
			</p>
		</div>
		<div>
			<h3>Generera en matlista</h3>
			<p>
				Listan med tillgängliga recept uppdateras genom att tillfälligt ladda upp en textfil enligt särskilt format.
			</p>
			<p>
				Enkelklicka, eller dra, enskild måltid till kolumnen för valda rätter. Ingredienslistan uppdateras automagiskt. Man kan även låta verktyget slumpmässigt välja från angivet antal måltider, för att snabbt skaffa sig en matlista utan djupare eftertänksamhet.
			</p>
			<p>
				Genom att klicka på en ingrediens, stryks den över och tas inte med i den utskriftsvänliga inköpslistan.
			</p>
			<p>
				När man är nöjd med listan, får man den i utskriftsvänligt format genom <span class="btn btn-sm btn-light"><span class="fa fa-print"></span>Skriv ut</span> där ena halvan är avsedd för kylskåpsdörrens utsida och veckans matsedel och andra halvan är inköpslista att medtaga till affären. Enkelklicka på sidan för att stänga utskriftspresentationen.
			</p>
		</div>
		<div>
			<h3>Import och textfilsformat</h3>
			<pre>kategori | titel: ingrediens, ingrediens, ingrediens
kategori | titel: ingrediens, ingrediens, ingrediens
kategori | titel: ingrediens, ingrediens, ingrediens</pre>
			<p>
				Ovan syns det format som textfilen förväntas ha, när man importerar recept. Ett <a href="{{ .StaticDir }}/matlista.txt">riktigt exempel</a> kanske kan underlätta förståelsen för systemet.
			</p>
			<p>
				Märk väl att någon beskrivning inte finns med i formatet. Hur man tillagar recepten förväntas man veta, eller ha receptbok vid sidan av.
			</p>
		</div>
		<div>
			<h3>Kontakt</h3>
			<p>
				Vid mer behov av hjälp eller felrapportering, använd <a href="https://github.com/prodhe/matlistan/issues">Github issues</a> (om ni själv är utvecklare), eller maila mig på <a href="mailto:hej@veckansmatlista.se">hej@veckansmatlista.se</a>.
			</p>
		</div>
	</section>
	<div class="col-3"></div>
</main>
{{ end }}
