{{ define "main" }}

    <div class="container-fluid">
      <header class="row">
        <div class="page-header text-center">
          <h1>Matlistan <span class="badge">2 . 1</span></h1>
        </div>
      </header>
    </div>
    <div class="container">
      <main class="row">
        <section class="col-sm-4">
          <h2>Alla rätter</h2>
          <div class="form-group form-inline">
            <div class="input-group">
              <label for="file_load_list">
                <button class="btn btn-default">
                  <span class="glyphicon glyphicon-import"></span>
                  <span id="label_file_input">Importera</span>
                </button>
                <input type="file" id="file_load_list" accept=".txt" />
              </label>
            </div>
          </div>
          <ul id="mainlist" class="list-group">
          </ul>
        </section>
        <section class="col-sm-4">
          <h2>Valda rätter</h2>
          <div class="form-group form-inline">
            <div class="input-group">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-cutlery"></span>
              </div>
              <input type="number" min="1" max="99" value="5" size="3" id="random_dishes" class="form-control" />
              <div class="input-group-btn">
                <button id="btn_random_userlist" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Slumpa">
                  <span class="glyphicon glyphicon-random"></span>
                  <span class="sr-only">Slumpa</span>
                </button>
              </div>
            </div>
            <div class="input-group">
              <button id="btn_clear_userlist" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Nollställ">
                <span class="glyphicon glyphicon-erase"></span>
                <span class="sr-only">Nollställ</span>
              </button>
            </div>
          </div>
          <ul id="userlist" class="list-group">
          </ul>
        </section>
        <section class="col-sm-4">
          <h2>Ingredienser</h2>
          <div class="form-group form-inline">
            <div class="input-group">
              <!-- Not available on a static non-PHP web server
              <button id="btn_create_store_list" class="btn btn-default">
                <span class="glyphicon glyphicon-share"></span>
                Dela
              </button>
              //-->
            <button id="btn_print_list" class="btn btn-default">
                <span class="glyphicon glyphicon-print"></span>
                Skriv ut
              </button>
            </div>
          </div>
          <ul id="ingredientslist" class="list-unstyled">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </section>
      </main>
    </div>

</body>
{{ end }}

{{ define "footer" }}
    <footer class="container-fluid">
      <p class="text-center text-uppercase">
      <small>Matlistan publiceras som öppen källkod - projektet finns på
        <a href="http://github.com/prodhe/foodlist">GitHub</a></small>
      </p>
    </footer>
    <div id="popup"></div>
{{ end }}
