{{ define "headTitle" }}
Logga in
{{ end }}

{{ define "main" }}
<main class="row">
    <div class="col-3"></div>
    <section class="col-lg-6">
        <h2>Logga in</h2>
        {{ if .FormError }}
        <p class="alert alert-danger">{{ .FormError }}</p>
        {{ end }}
        <form method="post" action="/login">

            <div class="form-group">
                <label for="username" class="form-control-label">Användarnamn</label>
                <input type="text" name="username" id="username" class="form-control" value="{{ .Username }}" required>
            </div>

            <div class="form-group">
                <label for="password" class="form-control-label">Lösenord</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Skicka</button>

        </form>
        <hr>
        <div class="text-center mt-3">
            <p>
                Har du inget konto? Skapa ett alldeles gratis nu på direkten!
            </p>
            <p>
                Du behöver bara hitta på ett användarnamn och lösenord och sen är du igång.
            </p>
            <p><a href="/signup">Skapa konto</a></p>
        </div>
    </section>
    <div class="col-3"></div>
</main>
{{ end }}