{{ define "headTitle" }}
Recept
{{ end }}

{{ define "main" }}
  <main>
    <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Recept</h2>
    </div>
    </div>
    <div class="row">
    <section class="col-md-6">
      <h3>Skapa nytt</h3>
      <form method="post" action="/recipes/add">
  <div class="form-group">
    <label class="form-control-label" for="title">Titel</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Namn på rätt #kategori" required>
  </div>
  <div class="form-group">
    <label class="form-control-label" for="ingredients">Ingredienser</label>
    <textarea class="form-control" id="ingredients" name="ingredients" placeholder="2 dl vatten
1 msk salt" rows="4" required></textarea>
  </div>
  <div class="form-group">
    <label class="form-control-label" for="description">Beskrivning</label>
    <textarea class="form-control" id="description" name="description" placeholder="Stormkoka vattnet och smaka av med salt." rows="6"></textarea>
  </div>

      <button type="submit" class="btn btn-primary">Spara</button>
      </form>
    </section>
    <section class="col-md-6">
      <h3>Din receptbank</h3>
      {{ if not .Recipes }}
      <p>Inga just nu. Importera en lista eller skapa ett här bredvid!</p>
      {{ end }}
      {{ range .Recipes }}
      <p>
      	<b>{{ .Title }}</b>
      	{{ range .Categories }}
      	  <i>{{ . }}</i>
      	{{ end }}
      	<br>
      	{{ range .Ingredients }}
      	  {{ if .Amount }}{{ .Amount }}{{ end }}
      	  {{ if .Unit }}{{ .Unit }}{{ end }}
      	  {{ .Name }}<br>
      	{{ end }}<br>
      	{{ .Description }}
      </p>
      {{ end }}
    </section>
    </div>
    <div class="row">
    <section class="col-lg-12">
      <h3>Utforska</h3>
    </section>
    </div>
  </main>
{{ end }}
